<div class="nav-bar">
  <mat-nav-list class="logo">
    <a class="mat-primary" routerLink="/">
      EduPMG
    </a>
  </mat-nav-list>
  <mat-nav-list class="nav-links">
    <button class="link" routerLink="/student" mat-button><mat-icon>home</mat-icon> Головна</button>
    <button class="link" routerLink="/student/profile" mat-button><mat-icon>account_box</mat-icon> Аккаунт</button>
    <button class="link" routerLink="/student/courses" mat-button><mat-icon>book</mat-icon> Доступні курси</button>
    <button class="link" routerLink="/student" mat-button><mat-icon>date_range</mat-icon> Щоденник</button>
    <button class="link" routerLink="/student" mat-button><mat-icon>schedule</mat-icon> Заплановані вебінари</button>
    <button class="link" routerLink="/student" mat-button><mat-icon>priority_high</mat-icon> Активні вебінари</button>
    <button class="link" routerLink="/student" mat-button><mat-icon> mail_outline</mat-icon> Повідомлення</button>
    <button class="link" (click)="logout()" mat-button><mat-icon>exit_to_app</mat-icon> Вийти з аккаунту</button>
  </mat-nav-list>
</div>
