.container {
  display: flex;
  flex-direction: row;
}

.side-bar {
  position: sticky;
  top: 0;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.header {
  flex: 0 0 64px;
}

.content {
  display: block;
  overflow-y: auto;
}
